<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <ul>
            <% projects.forEach(project=> { %>
                <li>
                    <h2><a href="/project/<%= project.project_id %>">
                            <%= project.title %>
                        </a></h2>
                    <p>Hosted by: <a href="/organization/<%= project.organization_id %>">
                            <%= project.organization_name %>
                        </a></p>
                </li>
                <% }); %>
        </ul>
    </main>

    <%- include('partials/footer') %>